## Analyzing CIA Factbook Data Using SQL

In this project, we're' work with data from the [CIA World](https://www.cia.gov/library/publications/the-world-factbook/) Factbook, a compendium of statistics about all of the countries on Earth. The Factbook contains demographic information like:

- population - The population as of 2015.
- population_growth - The annual population growth rate, as a percentage.
- area - The total land and water area.

In [1]:
%%capture
%load_ext sql
%sql sqlite:///factbook.db

'Connected: None@factbook.db'

In [2]:
%%sql
SELECT * 
    FROM sqlite_master
    WHERE type='table';

Done.

[('table', 'sqlite_sequence', 'sqlite_sequence', 3, 'CREATE TABLE sqlite_sequence(name,seq)'),
 ('table', 'facts', 'facts', 47, 'CREATE TABLE "facts" ("id" INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, "code" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "area" integer, "a ... (4 characters truncated) ... land" integer, "area_water" integer, "population" integer, "population_growth" float, "birth_rate" float, "death_rate" float, "migration_rate" float)')]

In [4]:
%%sql
SELECT * 
    FROM facts
    LIMIT 5;

Done.

[(1, 'af', 'Afghanistan', 652230, 652230, 0, 32564342, 2.32, 38.57, 13.89, 1.51),
 (2, 'al', 'Albania', 28748, 27398, 1350, 3029278, 0.3, 12.92, 6.58, 3.3),
 (3, 'ag', 'Algeria', 2381741, 2381741, 0, 39542166, 1.84, 23.67, 4.31, 0.92),
 (4, 'an', 'Andorra', 468, 468, 0, 85580, 0.12, 8.13, 6.96, 0.0),
 (5, 'ao', 'Angola', 1246700, 1246700, 0, 19625353, 2.78, 38.78, 11.49, 0.46)]

In [5]:
%%sql
SELECT MIN(population), MAX(population), 
    MAX(population_growth), MIN(population_growth)
    FROM facts

Done.

[(0, 7256490011, 4.02, 0.0)]

In [6]:
%%sql
SELECT name
    FROM facts
    WHERE population == (SELECT MIN(population) FROM facts);

Done.

[('Antarctica',)]

In [7]:
%%sql
SELECT name
    FROM facts
    WHERE population == (SELECT MAX(population) FROM facts);

Done.

[('World',)]

In [11]:
%%sql
SELECT MIN(population), MAX(population), 
    MIN(population_growth), MAX(population_growth)
    FROM facts
    WHERE name != 'World';

Done.

[(0, 1367485388, 0.0, 4.02)]

In [12]:
%%sql
SELECT AVG(population), AVG(area)
    FROM facts;

Done.

[(62094928.32231405, 555093.546184739)]

In [13]:
%%sql
SELECT name 
    FROM facts
    WHERE population > (SELECT AVG(population) FROM facts)
    AND area < (SELECT AVG(area) FROM facts);

Done.

[('Bangladesh',),
 ('Germany',),
 ('Japan',),
 ('Philippines',),
 ('Thailand',),
 ('United Kingdom',),
 ('Vietnam',)]

## Country with Most People

In [26]:
%%sql
SELECT name, MAX(population)
    FROM facts
    WHERE population == (SELECT MAX(population) FROM facts WHERE name <> 'World');

Done.

[('China', 1367485388)]

## Highest Growth Rate

In [27]:
%%sql
SELECT name, MAX(population_growth)
    FROM facts
    WHERE population_growth == (SELECT MAX(population_growth) FROM facts WHERE name <> 'World')

Done.

[('South Sudan', 4.02)]

## Countries has Highest Ratio of Water to Land

In [30]:
%%sql
SELECT name, area_water/area_land AS Ratio_Water_To_Land
    FROM facts
    WHERE Ratio_Water_To_Land > (SELECT AVG(area_water/area_land) FROM facts)

Done.

[('British Indian Ocean Territory', 905), ('Virgin Islands', 4)]

## Countries Have More Water Than Land

In [31]:
%%sql
SELECT name
    FROM facts
    WHERE area_water > area_land

Done.

[('British Indian Ocean Territory',), ('Virgin Islands',)]

## Countries that add the most people to their population next year

In [42]:
%%sql
SELECT name, birth_rate/death_rate AS Ratio
    FROM facts
    ORDER BY Ratio DESC
    LIMIT 10

Done.

[('Gaza Strip', 10.233552631578947),
 ('Kuwait', 9.133027522935778),
 ('Iraq', 8.342175066312997),
 ('United Arab Emirates', 7.83248730964467),
 ('Oman', 7.273809523809525),
 ('Jordan', 6.693931398416887),
 ('Solomon Islands', 6.693506493506494),
 ('West Bank', 6.5685714285714285),
 ('Qatar', 6.431372549019607),
 ('Vanuatu', 6.1222493887530565)]

## Countries have a higher death rate than birth rate

In [45]:
%%sql
SELECT name, death_rate/birth_rate AS ratio
    FROM facts
    WHERE ratio > (SELECT AVG(death_rate/birth_rate) FROM facts)
    ORDER BY ratio DESC

Done.

[('Bulgaria', 1.6188340807174888),
 ('Serbia', 1.5044052863436124),
 ('Latvia', 1.431),
 ('Lithuania', 1.4128712871287128),
 ('Hungary', 1.3897379912663756),
 ('Monaco', 1.3894736842105262),
 ('Slovenia', 1.350356294536817),
 ('Ukraine', 1.3488805970149254),
 ('Germany', 1.3482880755608027),
 ('Saint Pierre and Miquelon', 1.3099730458221026),
 ('Romania', 1.3019693654266957),
 ('Croatia', 1.288888888888889),
 ('Greece', 1.2806004618937643),
 ('Belarus', 1.2485981308411216),
 ('Japan', 1.1992433795712485),
 ('Portugal', 1.1887810140237325),
 ('Russia', 1.1801724137931033),
 ('Estonia', 1.1798287345385348),
 ('Italy', 1.165903890160183),
 ('Bosnia and Herzegovina', 1.0992108229988726),
 ('Czech Republic', 1.0737279335410175),
 ('Moldova', 1.0491666666666666),
 ('Poland', 1.0462012320328542),
 ('Austria', 1.0010626992561105),
 ('European Union', 1.0),
 ('Denmark', 0.9980525803310614),
 ('Slovakia', 0.9828456104944501),
 ('San Marino', 0.9791425260718423),
 ('Spain', 0.937759336099585),
 ('Finland', 0.9169776119402985),
 ('Isle of Man', 0.9063063063063064),
 ('Montenegro', 0.9049904030710173),
 ('Malta', 0.8929273084479371),
 ('Guernsey', 0.8922764227642276),
 ('Andorra', 0.8560885608856088),
 ('Georgia', 0.8492935635792779),
 ('Belgium', 0.8439964943032429),
 ('Taiwan', 0.8394332939787486),
 ('Virgin Islands', 0.8283220174587778),
 ('Korea, South', 0.8241758241758242),
 ('Canada', 0.8190661478599223),
 ('Netherlands', 0.7996306555863343),
 ('Puerto Rico', 0.7983425414364641),
 ('Macedonia', 0.7861471861471861),
 ('Sweden', 0.7839866555462885),
 ('Cuba', 0.7797979797979797),
 ('Switzerland', 0.7742857142857144),
 ('United Kingdom', 0.7682826622843056),
 ('Hong Kong', 0.7659804983748646),
 ('Saint Helena, Ascension, and Tristan da Cunha', 0.7530364372469636),
 ('France', 0.739903069466882),
 ('Bermuda', 0.7263901147396293),
 ('Palau', 0.7230769230769231),
 ('Uruguay', 0.7230298393267023),
 ('Barbados', 0.7110362257792755),
 ('Namibia', 0.7025252525252526),
 ('Thailand', 0.6970509383378016),
 ('Armenia', 0.6862601028655401),
 ('Liechtenstein', 0.6813397129186604),
 ('Norway', 0.6688632619439867),
 ('United States', 0.6525220176140913),
 ('Aruba', 0.6512738853503184),
 ('Jersey', 0.6448362720403022),
 ('Botswana', 0.6388358778625954),
 ('Luxembourg', 0.6367634124890063),
 ('Trinidad and Tobago', 0.6359583952451708),
 ('Korea, North', 0.6342975206611571),
 ('Faroe Islands', 0.6325344952795934),
 ('China', 0.6028823058446757),
 ('Gibraltar', 0.5944602272727272),
 ('Curacao', 0.5942028985507245),
 ('Australia', 0.5876543209876542),
 ('Greenland', 0.5863259668508287),
 ('Lesotho', 0.5846093443266589),
 ('Cyprus', 0.5801928133216476),
 ('Cook Islands', 0.5603628750872296),
 ('Montserrat', 0.5595026642984015),
 ('New Zealand', 0.5521380345086272),
 ('Swaziland', 0.5496554519659506),
 ('Saint Lucia', 0.5416058394160584),
 ('Saint Vincent and the Grenadines', 0.529108327192336),
 ('Saint Kitts and Nevis', 0.5251851851851852),
 ('Mauritius', 0.5199398043641836),
 ('Dominica', 0.5133030499675535)]

## Countries have the highest population/area ratio

In [46]:
%%sql
SELECT name, population/area as ratio
    FROM facts
    ORDER BY ratio DESC
    LIMIT 10

Done.

[('Macau', 21168),
 ('Monaco', 15267),
 ('Singapore', 8141),
 ('Hong Kong', 6445),
 ('Gaza Strip', 5191),
 ('Gibraltar', 4876),
 ('Bahrain', 1771),
 ('Maldives', 1319),
 ('Malta', 1310),
 ('Bermuda', 1299)]